body{
    background-color: #bde6f0;
}
.main_block{
  border: 5px solid;
  border-color: #00A2E8;
  border-radius: 15px;
}
#story_list{
    background-color: #fff;
    margin-left: 100px;
    height: 220px;
    padding: 5px; 
    float: left
}
#main_holder{
  margin-top: 10px;
}
#first_strip{
    background-color: #fff;
    margin-top: 30px;
    border: 5px solid;
    border-color: #00A2E8;
    border-radius: 15px;
    height: 220px;
    padding: 20px;
}

#randomimages{
    background-color: #fff;
    height: 800px;
    width: 30%;
    float: left;
    margin-right: 40px;
    padding: 20px;
}
#call_box{
    background-color: #fff;
    float: left;
    height: 10%;
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 15px;
    width: 300px;
    height: 180px;    
}
#video_box{
    width: 300px;
    height: 200px;
    border: 5px solid #ccc;
    border-radius: 15px;
    margin-left: 100px;
    float: left;
    background-color: #ccc;
}
#second_strip{
    background-color: #fff;
    height: 800px;
    width: 480px;
    float: left;
    margin-right: 40px;
    padding: 20px;
}
#story-page{
  background-color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#third_strip1{
    background-color: #fff;
    height:250px;
    border: 5px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    overflow-y: scroll;
}
#third_strip{
    background-color: #fff;
    padding: 10px;
    height: 800px;
    width: 30%;
    float: left;
    padding: 20px;   
}
#third_strip2{
    background-color: #fff;
    height: 420px;
    border-radius: 15px;
    padding: 20px;
    border: 5px solid #ccc;
    overflow-y: scroll;
}
#images{
    margin-top: 30px;
}
.misc{
    margin-right: 20px;
    cursor: pointer;
    margin-top: 40px;
}
.story_container{
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 50px;
    border: 5px solid;
    border-color: #ccc;
    border-radius: 15px;
}