.main_block{
  border: 5px solid;
  border-color: #00A2E8;
  border-radius: 15px;
}
#story_list{
    margin-top: 20px;
    height: 250px;
    padding: 20px;
}

#main_holder{
  margin-top: 10px;
}
#first_strip{
    margin-top: 30px;
}

#randomimages{
    height: 100%;
    width: 30%;
    float: left;
    margin-right: 10px;

}
#call_box{
    float: left;
    height: 10%;
    padding : 20px;
    margin-left: 200px;
}

#video_box{
    width: 300px;
    height: 200px;
    border: 2px solid aqua;
    margin-left: 20px;
    float: left;
}
#second_strip{
    height: 800px;
    width: 480px;
    float: left;
    margin-right: 10px;
    padding: 20px;
}
#story-page{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#third_strip1{
    height:250px;
    border: 5px solid #ccc;
    border-radius: 15px;
    padding: 20px;
}
#third_strip{
    padding: 10px;
    height: 800px;
    width: 30%;
    float: left;
}
#third_strip2{
    height: 420px;
    border-radius: 15px;
    padding: 20px;
    border: 5px solid #ccc;
    overflow-y: scroll;
}
#images{
    margin-top: 30px;
}
.misc{
    margin-right: 20px;
    cursor: pointer;
    margin-top: 40px;
}
.story_container{
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border: 2px solid black;
}
