#first_strip{
    width: 30%;
    float: left;
    margin-right: 10px;
    margin-bottom: 50px;
}
#video_box{
    width: 100px;
    height: 100px;
}
#randomimages{
    height: 100%;
    width: 30%;
    float: left;
    margin-right: 10px;
    
}
#call_box{
    height: 10%;
    width: 60%;
    border: 1px solid aqua;
    margin-left: 20px;
    margin-top: 30px;
}
#second_strip{
    height: 800px;
    width: 480px;
    float: left;
    border: 3px solid #ccc;
    margin-right: 10px;
}
#third_strip{
    height: 100%;
    width: 30%;
    float: left;
    
}
#images{
    margin-top: 30px;
}
.misc{
    margin-right: 20px;
    cursor: pointer;
    margin-top: 40px;
}
.story_container{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
    border: 2px solid black;
}